    <a class="btn btn-primary" routerLink="new" translate>New pokemon</a>

    <clr-datagrid>
        <clr-dg-column>Pokedex</clr-dg-column>
        <clr-dg-column>Name</clr-dg-column>
        <clr-dg-column>Type</clr-dg-column>
        <clr-dg-column>Stats</clr-dg-column>
      <clr-dg-row  *clrDgItems="let pokemon of items">
        <clr-dg-action-overflow>
            <a class="action-item" routerLink="{{pokemon.id}}">Edit</a>
        </clr-dg-action-overflow>
        <clr-dg-cell>{{pokemon.pokedex_id}}</clr-dg-cell>
        <clr-dg-cell>{{pokemon.name}}</clr-dg-cell>
        <clr-dg-cell>{{typeEnum[pokemon.type1]}} / {{typeEnum[pokemon.type2]}}</clr-dg-cell>
        <clr-dg-cell>
          <ul class="list">
            <li>HP: {{pokemon.hP_Stat}}</li>
            <li>ATT: {{pokemon.aTT_Stat}}</li>
            <li>DEF: {{pokemon.dEF_Stat}}</li>
            <li>SATT: {{pokemon.sATT_Stat}}</li>
            <li>SDEF: {{pokemon.sDEF_Stat}}</li>
            <li>SPD: {{pokemon.sPD_Stat}}</li>
          </ul>
        </clr-dg-cell>
      </clr-dg-row>
      <clr-dg-footer>
          <clr-dg-pagination #pagination [clrDgPageSize]="10">
              <clr-dg-page-size [clrPageSizeOptions]="[10,20,50,100]">Moves per page</clr-dg-page-size>
              {{pagination.firstItem + 1}} - {{pagination.lastItem + 1}}
              of {{pagination.totalItems}} moves
          </clr-dg-pagination>
      </clr-dg-footer>
    </clr-datagrid>
