  <div class="spinner" *ngIf="loading"></div>
  <form clrForm *ngIf="!loading">
      <clr-input-container>
          <label>Name</label>
          <input clrInput type="text" [(ngModel)]="move.name" name="name" />
      </clr-input-container>
      <clr-input-container>
          <label>Type</label>
          <input clrInput type="text" [(ngModel)]="move.type" name="type" />
      </clr-input-container>
      <clr-input-container>
          <label>DB</label>
          <input clrInput type="number" [(ngModel)]="move.dB" name="DB" />
      </clr-input-container>
      <clr-input-container>
          <label>Frequency</label>
          <input clrInput type="text" [(ngModel)]="move.frequency" name="frequency" />
      </clr-input-container>
      <clr-input-container>
          <label>AC</label>
          <input clrInput type="number" [(ngModel)]="move.accuracy" name="AC" />
      </clr-input-container>
      <clr-input-container>
          <label>Range</label>
          <input clrInput type="text" [(ngModel)]="move.range" name="range" />
      </clr-input-container>
      <clr-input-container>
          <label>Description</label>
          <input clrInput type="text" [(ngModel)]="move.description" name="description" />
      </clr-input-container>

      <button class="btn btn-primary" type="submit" (click)="submit()">Save</button>
      <button class="btn btn-danger" type="button" (click)="delete()" *ngIf="move.id">Delete</button>
  </form>
