<div class="main-container">
  <header class="header header-6">
    <div class="header-nav">
      <a routerLink="home" class="active nav-link nav-text">Home</a>
      <a routerLink="pokemon" routerLinkActive="active" class="nav-link nav-text">Pokemon</a>
      <a routerLink="moves" routerLinkActive="active" class="nav-link nav-text">Moves</a>
    </div>
  </header>
  <div class="content-container">
    <div class="content-area">
        <router-outlet></router-outlet>
    </div>
  </div>
</div>
