<div class="spinner" *ngIf="loading"></div>
<form clrForm *ngIf="!loading">
  <clr-input-container>
    <label>Name</label>
    <input clrInput type="text" [(ngModel)]="pokemon.name" name="name" />
  </clr-input-container>
  <clr-input-container>
    <label>Pokedex id</label>
    <input clrInput type="text" [(ngModel)]="pokemon.pokedex_id" name="pokedex_id" />
  </clr-input-container>
  <clr-input-container>
    <label>Type 1</label>
    <input clrInput type="text" [(ngModel)]="pokemon.type1" name="type1" />
  </clr-input-container>
  <clr-input-container>
    <label>Type 2</label>
    <input clrInput type="text" [(ngModel)]="pokemon.type2" name="type2" />
  </clr-input-container>
  <clr-input-container>
    <label>HP</label>
    <input clrInput type="number" [(ngModel)]="pokemon.hp" name="HP" />
  </clr-input-container>
  <clr-input-container>
    <label>ATT</label>
    <input clrInput type="number" [(ngModel)]="pokemon.att" name="ATT" />
  </clr-input-container>
  <clr-input-container>
    <label>DEF</label>
    <input clrInput type="number" [(ngModel)]="pokemon.def" name="DEF" />
  </clr-input-container>
  <clr-input-container>
    <label>SATT</label>
    <input clrInput type="number" [(ngModel)]="pokemon.satt" name="SATT" />
  </clr-input-container>
  <clr-input-container>
    <label>SDEF</label>
    <input clrInput type="number" [(ngModel)]="pokemon.sdef" name="SDEF" />
  </clr-input-container>
  <clr-input-container>
    <label>SPD</label>
    <input clrInput type="number" [(ngModel)]="pokemon.spd" name="SPD" />
  </clr-input-container>
  <!-- todo: abilities -->
  <clr-input-container>
    <label>Height</label>
    <input clrInput type="text" [(ngModel)]="pokemon.height" name="Height" />
  </clr-input-container>
  <clr-input-container>
    <label>Weight</label>
    <input clrInput type="text" [(ngModel)]="pokemon.weight" name="Weight" />
  </clr-input-container>
  <clr-input-container>
    <label>GenderRatio</label>
    <input clrInput type="number" [(ngModel)]="pokemon.genderRatio" name="SPD" />
  </clr-input-container>
  <!-- todo: moves -->
  <!-- todo: egg groups -->
    <!-- todo: Diets -->

      <!-- todo: Habitats -->

  <button class="btn btn-primary" type="submit" (click)="submit()">Save</button>
  <button class="btn btn-danger" type="button" (click)="delete()" *ngIf="pokemon.id">Delete</button>
</form>
