  <a class="btn btn-primary" routerLink="new" translate>New move</a>

  <clr-datagrid>
      <clr-dg-column>Name</clr-dg-column>
      <clr-dg-column>Type</clr-dg-column>
      <clr-dg-column>Category</clr-dg-column>
      <clr-dg-column>DB</clr-dg-column>
      <clr-dg-column>Frequency</clr-dg-column>
      <clr-dg-column>AC</clr-dg-column>
      <clr-dg-column>Range</clr-dg-column>
      <clr-dg-column>Description</clr-dg-column>
    <clr-dg-row  *clrDgItems="let move of moves">
      <clr-dg-action-overflow>
          <a class="action-item" routerLink="{{move.id}}">Edit</a>
      </clr-dg-action-overflow>
      <clr-dg-cell>{{move.name}}</clr-dg-cell>
      <clr-dg-cell>{{typeEnum[move.type]}}</clr-dg-cell>
      <clr-dg-cell>{{categoryEnum[move.category]}}</clr-dg-cell>
      <clr-dg-cell>{{move.dB}}</clr-dg-cell>
      <clr-dg-cell>{{frequencyEnum[move.frequency]}}</clr-dg-cell>
      <clr-dg-cell>{{move.accuracy}}</clr-dg-cell>
      <clr-dg-cell>{{move.range}}</clr-dg-cell>
      <clr-dg-cell>{{move.description}}</clr-dg-cell>
    </clr-dg-row>
    <clr-dg-footer>
        <clr-dg-pagination #pagination [clrDgPageSize]="10">
            <clr-dg-page-size [clrPageSizeOptions]="[10,20,50,100]">Moves per page</clr-dg-page-size>
            {{pagination.firstItem + 1}} - {{pagination.lastItem + 1}}
            of {{pagination.totalItems}} moves
        </clr-dg-pagination>
    </clr-dg-footer>
  </clr-datagrid>
